apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: dev
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 887482798966.dkr.ecr.us-east-2.amazonaws.com/sophosstore/frontend:beta
          resources:
            limits:
              memory: "500Mi"
              cpu: "200m"
          imagePullPolicy: Always
          ports:
          - name: ed-port
            containerPort: 443
          envFrom:
          - configMapRef:
              name: frontend-configmap
      restartPolicy: Always