<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    
    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    <a mat-button [routerLink]="['/products', 'celulares']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Celulares</a>
    <a mat-button [routerLink]="['/products', 'audio']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Audio</a>
    <a mat-button [routerLink]="['/products', 'accesorios']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Accesorios</a>
    <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Contactenos</a>

</mat-toolbar>

